.footer {
  bottom: 0;
  position: relative;
  width: 100%;
  margin: auto;
  background-color: #e8e8e8;
  height: calc(15vw * 9 / 16);
  left: 0;
  display: flex;
  justify-content: center;
  padding-bottom: calc(5vw * 9 / 16);
}

.footerText {
  display: flex;
  justify-content: center;
  width: 45%;
  height: 100%;
}

.builtWithText {
  flex: 0.85;
  font-size: 2.5vw;
  display: flex;
  justify-content: left;
  align-items: center;
}

.andText {
  flex: 0.45;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextImage {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 0.65;
}

.reactImage {
  position: relative;
  mix-blend-mode: multiply;
  flex: 1.15;
}
