.topbar {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(87, 60, 87);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.title {
  opacity: 1;
  transition: opacity 0.2s;
}

@media (max-width: 440px) {
  .title {
    opacity: 0;
  }
}
