.topbar {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(87, 60, 87);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.logo {
  position: fixed;
  width: 45px;
  top: 10px;
  left: 25px;
  height: 50px;
  cursor: pointer;
  filter: invert(1);
  transition: filter 0.2s;
}

.logo:hover {
  filter: invert(0.8);
}

.title {
  opacity: 1;
  transition: opacity 0.2s;
}

@media (max-width: 440px) {
  .title {
    opacity: 0;
  }
}
