.chartWrapper {
  $size: 215px;
  width: $size;
  height: $size * 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: 50px;
}

.chartValues {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid #ccc;
  background-color: #ddd;
  align-items: flex-end;
  margin-bottom: 10px;
}

.chartItemWrapper {
  width: 45px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  font-size: 16px;
}

.chartItem {
  transition: height 0.5s ease-in-out;
  display: grid;
  place-items: center;
}

.title {
  font-size: 20px;
}
