.cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8aa;
  font-size: 4vw;
  top: 0;
  transition: opacity 0.1s;
}

.errorMessage {
  position: absolute;
  right: -32vw;
  background-color: #ff0000cc;
  width: 30vw;
  height: 7vw;
  z-index: 1;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5vw;
  padding: 1vw;
  color: white;
  top: 2vw;
  transition: right 0.3s ease;
}
