@use "../../../common/base";

.headerWrapper {
  width: 100vw;
  height: 650px;
  background-image: base.$background;
  position: relative;
  overflow: hidden;
}

.headerImage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.headerMain {
  width: 700px;
  margin-left: min(20vw - 50px, 12vw + 10px);
  display: flex;
  padding-top: max(250px - 10vw, 160px);
}

.headerContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 40px;
  transition: margin-left 0.2s;
}

.headerBorder {
  border-left: 7px solid white;
  box-shadow: 2px 2px 15px black;
  transition: opacity 0.2s;
}

.mainTitle {
  font-size: min(3vw + 7px, 30px);
  color: white;
  text-shadow: base.$shadow;
  margin-bottom: min(calc((8vw - 5px) / 3), 20px);
  font-weight: 100;
}
.subtitle {
  font-size: min(7vw + 5px, 60px);
  color: white;
  text-shadow: base.$shadow;
}

@media (width < 750px) {
  .headerBorder {
    opacity: 0;
  }
  .headerContent {
    margin-left: 0px;
  }
}
