@use "../../../common/base";

.featureWrapper {
  width: 100%;
  height: 400px;
  background-image: base.$purple-background;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  text-shadow: base.$default-shadow;
}

.widthLimiter {
  width: min(100%, 1400px);
  height: 100%;
  position: relative;
  display: flex;
}

.backgroundImage {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../../../../public/index/tech.jpg");
  background-size: cover;
  background-position-y: 0px;
  position: absolute;
  filter: hue-rotate(60deg);
}

.content {
  width: min(50vw + 100px, 750px);
  height: 100%;
  padding-left: min(20vw, 120px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imageWrapper {
  width: calc(50vw - 50px);
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  --width: min(30vw - 100px, 300px);
  width: var(--width);
  height: var(--width);
  margin-right: min(10vw + 50px, 150px);
  position: relative;
  filter: drop-shadow(0px 0px 10px purple);
}

.title {
  font-size: min(5vw + 10px, 60px);
  white-space: nowrap;
}

.subtitle {
  margin-top: 20px;
  font-size: min(2vw + 10px, 30px);
}

.divider {
  margin-top: 15px;
  width: min(10vw + 10px, 70px);
  height: min(1vw, 4px);
  background-color: white;
  box-shadow: 2px 2px 20px black;
}

@media (width <650px) {
  .logo,
  .imageWrapper {
    display: none;
  }
  .content {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }
  .subtitle {
    padding-inline: 20%;
  }
}

.textGradient {
  background-image: linear-gradient(90deg, black, purple);
  background-size: cover;
  background-position-y: 0px;
  background-clip: text;
  color: transparent;
}
