@use "../ChartWrapper/main.module.scss";

.wrapper {
  width: 100%;
  border-bottom: 2px dotted rgb(121, 95, 126);
}

.data {
  width: 90%;
  margin-inline: auto;
  display: grid;
  place-items: center;
  height: auto;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fit, minmax(min(90vw, 210px), 1fr));
  max-width: 720px;
}

.title {
  @extend .chartTitle;
  padding-top: 80px;
}

.item {
  width: 200px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemTitle {
  @extend .chartTitle;
  font-size: 30px;
}

.itemNum {
  font-size: 45px;
}

@media (width < 600px) {
  .data {
    margin-bottom: 0;
  }
  .wrapper {
    padding-bottom: 30px;
  }
  .title {
    font-size: 10vw;
  }
}
