.signInWrapper {
  width: 400px;
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #cccccc;
  background-color: #e8e8e8dd;
}

.signInTitle {
  font-size: 35px;
  margin-bottom: 15px;
}

.signIn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signIn input:not(input[type="checkbox"]) {
  background: none;
  border: none;
  border-bottom: 3px solid #666666;
  width: 300px;
  margin-bottom: 15px;
  font-size: 20px;
}

.rememberMe {
  margin-bottom: 10px;
  font-size: 17px;
}

.signIn button {
  height: 50px;
  background-color: rgb(225, 196, 245);
  border: 3px solid #b375d4;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 30px;
}

.signIn button:hover {
  background-color: rgb(199, 152, 231);
}

.createAccount {
  color: blue;
  text-decoration: underline;
}

.createAccount:active {
  color: purple;
}

.accountText {
  margin-top: 15px;
  font-size: 16px;
}

.signInWrapper {
  width: 400px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInImage {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: -100px;
  left: -150px;
  background-image: url("../../../../public/index/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
}
