@use "../../../common/base";

.loginImage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("../../../../public/index/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
  left: 0;
  top: 0;
}

.loginCover {
  @extend .loginImage;
  width: calc(100vw - 500px);
  background-image: base.$background;
  left: min(100vw, 500px);
  padding-inline: calc(4vw + 20px);
  text-align: center;
  color: white;
  text-shadow: base.$shadow;
  display: flex;
  justify-content: center;
  flex-direction: column;
  filter: none;
}

.coverTitle {
  font-size: min(6vw - 20px, 60px);
}

.coverSubtitle {
  font-size: min(3vw - 12px, 35px);
}

@media (height < 400px), (width < 400px) {
  .loginWrapper {
    transform: scale(0.55);
  }
}

@media (width < 750px) {
  .coverTitle,
  .coverSubtitle {
    display: none;
  }
}

@media (width < 550px) {
  .loginCover {
    padding-inline: 0px;
  }
}
