.cardData {
  height: 220px;
  width: 100%;
  bottom: 0;
  font-size: 1.45vw;
}

.cardText {
  font-size: 20px;
  padding-inline: 20px;
  text-align: center;
  transition: font-size 0.1s;
  margin-top: 15px;
}

.cardTitle {
  font-size: 30px;
  text-align: center;
}

.card {
  width: 350px;
  height: 400px;
  margin: auto;
  border: 2px solid #bbbbbb;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: width 0.1s, height 0.1s;
}
