.chartWrapper {
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;
}

.chartLoadingText {
  position: absolute;
  font-size: 45px;
  transition: opacity 0.2s;
  margin: auto;
  text-align: center;
}

.chart {
  width: 90%;
  height: 300px;
  position: relative;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-block: 2px solid rgb(82, 57, 82);
}

.chart * {
  transition: width 0.1s;
}

.chartTitle {
  font-size: min(3vw + 20px, 38px);
  padding-top: 70px;
  text-align: center;
  width: 100%;
  margin-block: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartSelectorWrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.chartSelector {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  font-size: clamp(16.5px, 2vw - 5px, 22px);
}

.selectorItem {
  padding-inline: 8px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.selectorItem:hover {
  background-color: rgb(206, 206, 206);
}

.chartSelectorSpacing {
  flex: 0.2;
  min-width: 10px;
}

@media (max-width: 1056px) {
  .chartSelectorWrapper {
    margin-top: 20px;
    flex-direction: column;
  }
}
